* {
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../imgs/residential.jpg");
    background-repeat: no-repeat;
    height: 100vh;
}

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    /* Black background with opacity */
    z-index: -1;
    /* Specify a stack order in case you're using a different order for other elements */
}

nav {
    width: 100%;
    z-index: 10;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    background: #9f00ff;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu,
.social i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .logo {
    cursor: pointer
}

nav .logo a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0;
}

@media only screen and (max-width: 800px) {
    nav .mainMenu {
        height: 110vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: #9f00ff;
        font-size: 1.6em;
    }
    nav .social i {
        display: inline-block;
        padding: 12px;
    }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url("../imgs/stars_in_sky.jpg");
    background-repeat: no-repeat;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar h2 {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: grey;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#app {
    transition: margin-left .5s;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}